{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <!--CSS STYLE-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!--CSS BOOTSTRAP-->
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    </head>
    <body>
        <img id="banner" src="{% static 'img/home.jpg' %}" alt="">
        <div id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/Daftar MK/">Daftar Mata Kuliah</a></li>
            <li><a href="/guest/">Mahasiswa</a></li>
        </ul>
        </div>

        <!--KELAS CONTAINER BOOTSTARP-->
        <div class="container"> 
            <br> 
                <div class="jumbotron"> 
                <h1 class="display-4">Selamat Datang di Era Industri 4.0</h1> 
                <p class="lead">Topik Revolusi Industri 4.0 yaitu :</p> 
                <hr class="my-4"> 
                <p>Internet of Things, saat komputer dan smartphone tersambung ke internet.</p> 
                <hr class="my-4"> 
                <p>Cloud Computing, proses data sampai bermain game tidak perlu menggunakan device yang canggih, cukup terhubung dengan internet.
                    Data diproses pada komputer server yang menyediakan service tersebut.</p> 
                <hr class="my-4"> 
                <p>Machine Learning, yaitu mesin yang memiliki kemampuan untuk belajar,
                    sehingga melakukan koreksi yang tepat untuk memperbaiki hasil berikutnya.</p> 
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Ke Atas</a></p>
                </div> 
        </div> 
        <!-- FOOTER -->
 <footer class="footer"> 
    <div class="container"> 
    <span class="text-dark">Copyright 2022</span> 
    </div> 
    </footer> 
    
    <!-- JS BOOTSTRAP -->
    <script src="{% static 'vendor/bootstrap/jquery-3.3.1.slim.min.js' %}" type="text/javascript"></script> 
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}" type="text/jav
   ascript"></script> 
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/java
   script"></script> 
    </body>
</html>