{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guest</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}"> 
    </head>
    <body>
        <img id="banner" src="{% static 'img/crud.jpg' %}" alt="">
        <div id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/daftar MK/">Daftar Mata Kuliah</a></li>
            <li><a href="/guest/">Mahasiswa</a></li>
        </ul>
        </div>

        <!-- KELAS CONTAINER BOOTSTRAP -->
 <div class="container"> 
    <br>
    <form method="POST">
    {% csrf_token %}
    <table>{{BukuTamu.as_table}}</table>
    <button class="btn btn-success" type="submit">Simpan</button>
    </form>
 </div> 
        </ul>
    </body>
</html>